{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block css %}
  <!-- CSS here -->
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}

{% block content %}
  <main>
      <!-- Hero Area Start-->
      <div class="slider-area ">
          <div class="single-slider slider-height2 d-flex align-items-center">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="hero-cap text-center">
                              <h2>Cart List</h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--================Cart Area =================-->
      <section class="cart_area section_padding">
        <div class="container">
          <div class="cart_inner">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
{#                  <tr>#}
{#                    <td>#}
{#                      <div class="media">#}
{#                        <div class="d-flex">#}
{#                          <img src="assets/img/gallery/card1.png" alt="" />#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                          <p>Minimalistic shop for multipurpose use</p>#}
{#                        </div>#}
{#                      </div>#}
{#                    </td>#}
{#                    <td>#}
{#                      <h5>$360.00</h5>#}
{#                    </td>#}
{#                    <td>#}
{#                      <div class="product_count">#}
{#                        <span class="input-number-decrement"> <i class="ti-minus"></i></span>#}
{#                        <input class="input-number" type="text" value="1" min="0" max="10">#}
{#                        <span class="input-number-increment"> <i class="ti-plus"></i></span>#}
{#                      </div>#}
{#                    </td>#}
{#                    <td>#}
{#                      <h5>$720.00</h5>#}
{#                    </td>#}
{#                  </tr>#}
                  {% for product in products %}
                  <tr>
                    <td>
                      <div class="media">
                        <div class="d-flex">
                          <img src="{{ product.image.url }}" alt="" />
                        </div>
                        <div class="media-body">
                          <p>{{ product.name }}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5>${{ product.price }}</h5>
                    </td>
                    <td onload="calculate_total({{ product.price }}, {{ product.id }})">
                      <div class="product_count">
                          <button class="btn_3" type="button" onclick="decrement({{ product.price }}, {{ product.id }})">&minus;</button>
                          <input class="input-number" id="product_count_{{ product.id }}" type="number" value="{{ product.count }}" min="0" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                          <button class="btn_3" type="button" onclick="increment({{ product.price }}, {{ product.id }})">&plus;</button>
                      </div>
                    </td>
                    <td>
                      <span id="total_price_{{ product.id }}" ></span>
                    </td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ product.id }}">
                            <button class="btn_1" type="submit">X</button>
                        </form>
                    </td>
                  </tr>
{#                  <tr class="bottom_button">#}
{#                    <td>#}
{#                      <a class="btn_1" href="#">Update Cart</a>#}
{#                    </td>#}
{#                    <td></td>#}
{#                    <td></td>#}
{#                    <td>#}
{#                      <div class="cupon_text float-right">#}
{#                        <a class="btn_1" href="#">Close Coupon</a>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <td></td>#}
{#                    <td></td>#}
{#                    <td>#}
{#                      <h5>Subtotal</h5>#}
{#                    </td>#}
{#                    <td>#}
{#                      <h5>$2160.00</h5>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <tr class="shipping_area">#}
{#                    <td></td>#}
{#                    <td></td>#}
{#                    <td>#}
{#                      <h5>Shipping</h5>#}
{#                    </td>#}
{#                    <td>#}
{#                      <div class="shipping_box">#}
{#                        <ul class="list">#}
{#                          <li>#}
{#                            Flat Rate: $5.00#}
{#                            <input type="radio" aria-label="Radio button for following text input">#}
{#                          </li>#}
{#                          <li>#}
{#                            Free Shipping#}
{#                            <input type="radio" aria-label="Radio button for following text input">#}
{#                          </li>#}
{#                          <li>#}
{#                            Flat Rate: $10.00#}
{#                            <input type="radio" aria-label="Radio button for following text input">#}
{#                          </li>#}
{#                          <li class="active">#}
{#                            Local Delivery: $2.00#}
{#                            <input type="radio" aria-label="Radio button for following text input">#}
{#                          </li>#}
{#                        </ul>#}
{#                        <h6>#}
{#                          Calculate Shipping#}
{#                          <i class="fa fa-caret-down" aria-hidden="true"></i>#}
{#                        </h6>#}
{#                        <select class="shipping_select">#}
{#                          <option value="1">Bangladesh</option>#}
{#                          <option value="2">India</option>#}
{#                          <option value="4">Pakistan</option>#}
{#                        </select>#}
{#                        <select class="shipping_select section_bg">#}
{#                          <option value="1">Select a State</option>#}
{#                          <option value="2">Select a State</option>#}
{#                          <option value="4">Select a State</option>#}
{#                        </select>#}
{#                        <input class="post_code" type="text" placeholder="Postcode/Zipcode" />#}
{#                        <a class="btn_1" href="#">Update Details</a>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
                {% endfor %}
                </tbody>
              </table>
              <div class="checkout_btn_inner float-right">
                <a class="btn_1" href="#">Continue Shopping</a>
                <a class="btn_1 checkout_btn_1" href="#">Proceed to checkout</a>
              </div>
            </div>
          </div>
      </section>
      <!--================End Cart Area =================-->
  </main>
  <!--? Search model Begin -->
  <div class="search-model-box">
      <div class="h-100 d-flex align-items-center justify-content-center">
          <div class="search-close-btn">+</div>
          <form class="search-model-form">
              <input type="text" id="search-input" placeholder="Searching key.....">
          </form>
      </div>
  </div>
  <!-- Search model end -->
{% endblock %}

{% block js %}
    <!-- JS here -->
    <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static './assets/js/popper.min.js' %}"></script>
    <script src="{% static './assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>
    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static './assets/js/slick.min.js' %}"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="{% static './assets/js/wow.min.js' %}"></script>
    <script src="{% static './assets/js/animated.headline.js' %}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="{% static './assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.sticky.js' %}"></script>
    <script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- contact js -->
    <script src="{% static './assets/js/contact.js' %}"></script>
    <script src="{% static './assets/js/jquery.form.js' %}"></script>
    <script src="{% static './assets/js/jquery.validate.min.js' %}' %}"></script>
    <script src="{% static './assets/js/mail-script.js' %}"></script>
    <script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static './assets/js/plugins.js' %}"></script>
    <script src="{% static './assets/js/main.js' %}"></script>

    <!-- Increment Function -->
    <script>
        const increment = (price, id) => {
            fetch('http://127.0.0.1:8000/increment-count', {
                method: 'POST',
                body: JSON.stringify({
                    id: id
                })
            }).then(rsp=>rsp.json()).then(response=>console.log())
            calculate_total(price, id, 1)
        }

        const decrement = (price, id) => {
            fetch('http://127.0.0.1:8000/decrement-count', {
                method: 'POST',
                body: JSON.stringify({
                    id: id
                })
            }).then(rsp=>rsp.json()).then(response=>console.log())
            calculate_total(price, id, 2)
        }

        const calculate_total = (price,id, value) => {
            let product_count = document.getElementById('product_count_' + id).value
            if (value === 1){
                product_count++
            }
            else if (value === 2 && product_count > 0) {
                product_count--
            }
            const total_price = price * product_count
            document.getElementById('total_price_' + id).innerHTML = '$' + `${total_price}`
        }

    </script>
{% endblock %}