{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}

{% block content %}
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>{% translate 'Watch Shop' %}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->

        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <!-- Latest Products Start -->
        <section class="popular-items latest-padding">
            <div class="container">
                <div class="row product-btn justify-content-between mb-40">
                    <div class="properties__button">
                        <!--Nav Button  -->
                        <nav>                                                      
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">NewestArrivals</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> Price high to low</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"> Most populer </a>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>
                    <!-- Grid and List view -->
                    <div class="grid-list-view">
                    </div>
                    <!-- Select items -->
                    <div class="select-this">
                        <form action="#">
                            <div class="select-itms">
                                <select name="select" id="select1">
                                    <option value="">40 per page</option>
                                    <option value="">50 per page</option>
                                    <option value="">60 per page</option>
                                    <option value="">70 per page</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular1.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                            {% for product in products %}
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center">
                                    <div class="popular-img">
                                            <img src="{{ product.image.image.url }}" alt="">
                                        <div class="img-cap">
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{ product.id }}">
                                                <button  class="btn btn-light" type="submit">{% translate 'Add to cart' %}</button>
                                            </form>
                                        </div>
                                        <div class="favorit-items">
                                            <span class="flaticon-heart"></span>
                                        </div>
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="/product_details">{{ product.name }}</a></h3>
                                        <span>$ {{ product.price }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular3.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular4.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular5.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular6.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- Card two -->#}
{#                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">#}
{#                        <div class="row">#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular1.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular2.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular3.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular4.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular5.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular6.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- Card three -->#}
{#                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">#}
{#                        <div class="row">#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular1.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular2.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular3.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular4.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular5.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">#}
{#                                <div class="single-popular-items mb-50 text-center">#}
{#                                    <div class="popular-img">#}
{#                                        <img src="{% static 'assets/img/gallery/popular6.png' %}" alt="">#}
{#                                        <div class="img-cap">#}
{#                                            <span>Add to cart</span>#}
{#                                        </div>#}
{#                                        <div class="favorit-items">#}
{#                                            <span class="flaticon-heart"></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="popular-caption">#}
{#                                        <h3><a href="product_details">Thermo Ball Etip Gloves</a></h3>#}
{#                                        <span>$ 45,743</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
                <!-- End Nav Card -->
            </div>
        </section>
        <!-- Latest Products End -->
        <!--? Shop Method Start-->
        <div class="shop-method-area">
            <div class="container">
                <div class="method-wrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-package"></i>
                                <h6>{% translate 'Free Shipping Method' %}</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-unlock"></i>
                                <h6>{% translate 'Secure Payment System' %}</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div> 
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-reload"></i>
                                <h6>{% translate 'Secure Payment System' %}</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Method End-->
    </main>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
{% endblock %}

{% block js %}
<!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static './assets/js/popper.min.js' %}"></script>
    <script src="{% static './assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static './assets/js/slick.min.js' %}"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="{% static './assets/js/wow.min.js' %}"></script>
    <script src="{% static './assets/js/animated.headline.js' %}"></script>
    <script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Scroll up, nice-select, sticky -->
    <script src="{% static './assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.sticky.js' %}"></script>
    
    <!-- contact js -->
    <script src="{% static './assets/js/contact.js' %}"></script>
    <script src="{% static './assets/js/jquery.form.js' %}"></script>
    <script src=".{% static '/assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static './assets/js/mail-script.js' %}"></script>
    <script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{% static './assets/js/plugins.js' %}"></script>
    <script src="{% static './assets/js/main.js' %}"></script>
{% endblock %}